<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
        <link rel="stylesheet" type="text/css" href="../../static/styles/login_page/login.css">
</head>
<body>
    <div class="bgimage">
   <div class="menu">
      <div class="leftmenu">
      	<!-- <h4>Abhishek kumar</h4> -->
        <img src="../../static/styles/login_page/MNNIT.png">
      </div>
      <div class="rightmenu">
      	<ul>
      		<li id="firstcolor"><a href="https://www.google.com">home</a></li>
      		<li>service</li>
      		<li>works</li>
      		<li>about</li>
      		<li>blogs</li>
      		<li>contact</li>
      	</ul>
      </div>
   </div>
   <div class="loginbox">
   	   <img src="../../static/styles/login_page/avatar2.jpg" class="avatar">
   	   <h1>Login Here</h1>
   	   <form action="http://localhost:5000/login" method = "POST">
   	   	<p>User Name</p>
   	   	<input type="text" name="username" placeholder="Enter your name">
   	   	<p>Password</p>
   	   	<input type="Password" name="password" placeholder="Password">
   	   	<input type="submit" name="" value="Login">
   	   	<a href="{{ url_for('register') }}">Not have an account?</a>
   	   </form>
   </div>
   </div>
</body>
</html>
